---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}"/>
    <meta name="description" value="{{ site.meta_description }}"/>
    <!--<link rel="stylesheet" type="text/css" href="./public/stylesheets/main.css"/>-->
    {{ 'main.css' | stylesheet_tag }}
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <p>Lorem ipsum....</p>
    {% include 'top_page_section' %}
    {% include 'our_dna' %}
    {% include 'gmaps' %}
    {% include 'contact_us' %}
    {% include 'footer' %}
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  {{ 'modalEffects.js' | javascript_tag }}
  {{ 'classie.js' | javascript_tag }}
  {{ 'home.js' | javascript_tag }}
  {{ 'main.js' | javascript_tag }}
</html>